body {
	background-color: lightgray;
	font: 13px/1 Arial, Tahoma sans-serif;
}

form {
	width: 300px;
	margin: 40px auto;
}

.inputField {
	margin-bottom: 20px;
	overflow: hidden;
}

.inputField input,
.inputField textarea {
	box-sizing: border-box;
	width: 300px;
	height: 40px;
	padding: 0 20px;
	border: 1px #c5c5c5 solid;
	border-radius: 10px;
	font: 13px/1 Arial, Tahoma sans-serif;
	color: #242121;
}

.inputField textarea {
	height: 180px;
	padding: 20px;
	line-height: 20px;
}

.inputField button {
	float: right;
	cursor: pointer;
}
